<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cnvFilesNL2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="MSUMSFSF MSUMSFSFOUT ebcdic default 62"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cnvFilesNL2"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
</launchConfiguration>
