<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.apache.xml.dtm.ref.CustomStringPool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MyClassTest1"/>
</launchConfiguration>
